* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;
}

:root {
  --primary-color: #fff;
  --second-color: #000;
  --three-color: #99999929;
  --four-color: #555;
  --five-color: #55555530;
  --six-color: #202327;
  --strong-blue: #2596ff6c;
  --blue-color: #1d9bf0;
  --light-blue: #2597ff;
}

body {
  background: var(--second-color);
  color: var(--primary-color);
}

.contenedor {
  display: flex;
  height: 100%;
  /* flex: 1;
    overflow: auto; */
}

/* estilos de seccion izquierda con su contenido */

.izquierda {
  width: 50%;
  margin: 0 0 0 30px;
  position: fixed;
  position: relative;
}

.izquierda nav {
  background: var(--second-color);
  top: 0;
}

/* .izquierda .logo {
    background-color: red;
} */

.izquierda .logo:hover {
  background: var(--three-color);
}

.izquierda li {
  list-style: none;
  padding: 10px;
}

.izquierda a {
  display: inline-flex;
  color: var(--primary-color);
  gap: 20px;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 10px;
  top: 0;
}

.izquierda a:hover {
  background: var(--three-color);
  border-radius: 50px;
}

.izquierda a:active {
  font-weight: bold;
}

.izquierda {
  background: var(--second-color);
}

.izquierda i {
  width: 30px;
  fill: var(--primary-color);
}

/* estilos medio */
.medio {
  backdrop-filter: blur(10px);
  padding: 10px 0;
  width: 100%;
  border-right: var(--blue-color) solid 1px;
  border-left: var(--blue-color) solid 1px;
}
/* estilo al titulo */
.medio h2 {
  padding: 10px 20px;
}
/* estilos a la barra de navegacion pricipal */
.home nav {
  margin-top: 20px;
}

.home ul {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.home li {
  list-style: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

.home a {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  text-decoration: none;
  color: var(--four-color);
  font-weight: bold;
  padding: 20px;
}

.home a:hover {
  background: var(--five-color);
}

.home a.active {
  color: var(--primary-color);
  border-bottom: var(--blue-color) solid 5px;
}
/* estilos al cuadro de publicacion */

.card-content {
  margin-top: 50px;
  padding: 20px 0;
  width: 100%;
  border-top: var(--blue-color) solid 1px;
}
/* estilos en la clase descripcion */
.description {
  background: var(--second-color);
  padding: 20px 0;
}
/* estilos a la foto del usuario en publicacion */
.card-content .photo-user {
  float: left;
  width: 50px;
  background: var(--primary-color);
  border-radius: 50%;
}
/* estilos al input text */
.card-content input[type="text"] {
  background: var(--second-color);
  padding: 0 10px;
  color: var(--primary-color);
  border: none;
  width: 80%;
  height: 50px;
  font-size: 1.2rem;
}

/* estilo input text activo */
.card-content input[type="text"]:focus {
  outline: none;
}

.publication {
  margin: 20px 0;
}

/* estilos a la navegacion de la publicacion */
.publication nav {
  padding: 0;
}
/* estilos a ul para poderno de vertical */
.publication ul {
  display: inline-flex;
  gap: 5px;
}

.publication li {
  list-style: none;
}

.publication a {
  border-radius: 50%;
}

.publication svg:hover {
  background: var(--strong-blue);
  border-radius: 10px;
}
/* estilos a la publicacion del usuario */
.user-content {
  display: inline-flex;
  margin: 15px 0;
  border-bottom: var(--blue-color) solid 1px;
}

.user-content img {
  width: 70px;
  height: 70px;
  background: var(--primary-color);
  border-radius: 50%;
  float: left;
}

.user-content .user-description {
  float: right;
  padding: 2px 10px;
}

.info-user {
  font-weight: 100;
  color: var(--four-color);
}

/* estilo del boton Twittear */

.btn {
  top: 0;
}

button {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--primary-color);
  background: var(--light-blue);
  border: none;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 20px;
  cursor: pointer;
}

/* estilos de HR, Mostrar Tweets y Hilos*/
.tweets {
  border-top: var(--blue-color) solid 1px;
  border-bottom: var(--blue-color) solid 1px;
  text-align: center;
  padding: 10px 0;
}

.tweets:hover {
  background: var(--five-color);
}

.tweets a {
  text-decoration: none;
  color: var(--blue-color);
}

.hilo {
  border-top: var(--blue-color) solid 1px;
  border-bottom: var(--blue-color) solid 1px;
  padding: 10px 0;
}

.hilo:hover {
  background: var(--five-color);
}

.hilo a {
  text-decoration: none;
  color: var(--blue-color);
  font-size: .8rem;
}

/* estilos derecha */
.derecha {
  width: 100%;
  height: 100%;
}
/* estilo del input buscar */
.search {
  height: 50px;
  background: var(--six-color);
  padding: 20px;
  border-radius: 50px;
  margin: 2px 50px;
}

.search img {
  width: 30px;
}

.search input[type="text"] {
  border: none;
  padding: 10px;
  background: var(--six-color);
}

.contenedor-content {
  background: var(--six-color);
  margin: 50px;
  border-radius: 10px;
}

.contenedor-content h1 {
  font-size: 1.2rem;
  padding: 10px;
}

.qep-section {
  padding: 10px;
}

.qep-section:hover {
  background: var(--five-color);
}

.qep-section a {
  text-decoration: none;
  color: var(--primary-color);
}

.qep-section a > h4, h3{
  text-decoration: none;
  color: var(--four-color);
}

.qep-section h4, h3{
  font-size: .7rem;
}

.qep-section-mas {
  padding: 20px;
}

.qep-section-mas:hover {
  background: var(--five-color);
}

.qep-section-mas a {
  text-decoration: none;
  font-weight: bold;
  color: var(--blue-color);
}

.qep-section img{
  width: 15%;
  background: var(--primary-color);
  border-radius: 100%;
}
